html,body {
    height: 100%;
}

header {
    color: white;
}
 
.card {
    margin: 5%;
}

.card-header {
    text-align:left;
}

.card-text,.text {
    text-align:justify;
    text-justify:inter-ideograph;
}

.link {
    text-decoration:none;
    color: gray;
}

.link:hover {
    color: rgb(0, 119, 255);
}

.head {
    padding-top: 50px;
}

.td{border: 1px solid}
.tr{border: 1px solid}
.th{border: 1px solid}